.upper-nav{
    background-color: rgb(184, 179, 179);
    position: relative;
}
.upper-bar-lift-list{
    position: absolute;
    float:right;
    top:1px;
    right:10px;
    
}
ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-bottom:0px;
  }
.social-icons{
  margin-left:20px;
}
.social-icons a{
  color:#6a000e;
}
.social-icons a :hover{
  color : #00aced;
}
.upper-bar-lift-list span{
color: #6a000e;
}
.upper-nav li {
    padding: 5px 15px 5px 0;
  }
.logo{
    position: relative;
  width: 135px;
  margin-left: 20px;

}
.site-identity{
    position: absolute;
    top:82px;
    font-family: sans-serif;
    font-weight: 700;
}
.wrapper{
  background-color: #cecece;
}
.sapces {
  font-size:large;
  color:red;
}
.main-nav a{
  color:#D00018;
}
.nav-dropdown > a > span {
  color:#D00018;
}
.main-nav .navbar{
  padding: 0px 5px 0px 5px;
}
#triangle-down {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 100px solid #D00018;
}
.intro-text{
  text-align:center;
  margin:60px;
}

.our-team{
  text-align: center;
}
.our-team::before,
.our-team::after {
  display: inline-block;
  content: "";
  border-top: .3rem solid #D00018;
  width: 10rem;
  margin: 0 1rem;

}
.centered .flexed{
  display:inline-flex;
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 5px solid #D00018;
}
.our-vision-hr{
  width:70px;
}
.show{
display:block;
}
.hide{
display:none;
}